@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


header{
    display: flex;
    justify-content:left;
    align-items: center;
    padding: 30px 10%;
    width: 100vw;
    height: 200px;
    background-color: #24252A;
}

body{
    background-color: #54555a;
    width: 100vw;
    height: 800px;
}

.logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #84adbb;
}
.header .nav a {
    float: left;
    color: #edf0f1;
    text-decoration: none;
    text-align: center;
}
.header .nav ul li:active a, .header nav ul li a:hover{
    color: #84adbb;
}

ul {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    text-decoration: none;
    list-style-type: none;
 
  }
  .header .nav a.active{
    color: #84adbb;
  }

ul li{
    display: inline-block;
    padding: 0px 20px;
}

article{
    margin-bottom: 0;
    color: #edf0f1;
    background-color: #393a41;
}

h2{
    font-size: 30px;
    margin: 0;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: #84adbb;
}

h3{
    font-size: 30px;
    margin: 0;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: #84adbb;
}

img{
    max-width: 100%
}
  
  .image {
    width: 200px;
    height: 300px;
    float: left;
    padding-right: 20px;
    
  }
  
ol{
    list-style-type: square;
    font-size: 20px;
}
  
.col{
    overflow: hidden;
    padding-bottom: 50px;
}

p{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.col .kontakt{
    color: #edf0f1;
    background-color: #393a41;
    float: left;
    width: 50%;
    height: 150px;
}
.col .kontakt h3{
    font-family: 'Montserrat', sans-serif;
    color: #84adbb;
}
a{
    color: #edf0f1;
    text-decoration:underline;
}

footer{
    
    display: flex;
    background-color: #24252A;
    color: #84adbb;
    width: 100vw;
    height: 50px;
    bottom:0;
}

.main
{
    align-items: right;
    height: 100vh;
}
.button
{
    padding: 20px 50px;
    text-decoration: none;
    color: #84adbb;
    border-radius: 5px;
    background-color: #24252A;
    border: 3px solid #0d0d0f;
    cursor: pointer;
    outline: none;
}
.modal
{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);

    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.content
{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10%;
    transform: translate(-50%, -50%) scale(0.25);
    width: 50vw;
    height: 50vh;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    background-color: #393a41;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    transition:  all 0.5s 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.close,
.close:link,
.close:visited
{
    color: #ccc;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2.5rem;
    display: inline-block;
    line-height: 1;
    transition: all 0.2s;
}

.modal:target
{
    opacity: 1;
    visibility: visible;
}
.modal:target .content
{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
